@import "./base/normalize";
@import "./abstracts/variables.module";
@import "./layout/scroll.module";
@import "./layout/header.module";
@import "./components/selector.module";
@import "./layout/note-form.module";

body{
  
  .app {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    min-height: 100vh;
  
    font-size: 1.5em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
    background-color: $color-dark-l;
    

    padding-bottom: 5em;
  }
}