$color-light-xl: #ffffff;
$color-light-s: #fafafa;
$color-dark-s: #cdcdcd;
$color-dark-m: #30363d;
$color-dark-l: #161b22;
$color-dark-3xl: #0d1117;

$color-primary: #64094d;
$color-primary-light: #1fdae7;

$color-danger: #ad0505;
$color-success: #13b820;


$dropDown-index: 4;
$modal-background: 5;
$modal-content: 6;