@import "../../abstracts/variables.module";


%danger {
  background-color: $color-dark-l;
  color: $color-danger;

  &:focus {
    outline: none;
    border: 2px solid $color-light-s;

    background-color: $color-danger;
    color: $color-light-s;
  }

  @media (hover: hover) and (pointer: fine){
    &:hover {
      color: $color-dark-s;
      background-color: $color-danger;

      outline: none;
      border: 2px solid $color-light-s;

      box-shadow:0 0 6px 4px rgba(103, 115, 128, 0.3);
    }
  }

  &:active{
    outline: none;
    border: 2px solid $color-light-s;
    
    color: $color-light-s;
    background-color: $color-danger;

    box-shadow:0 0 16px 4px rgba(103, 115, 128, 0.651);
  }
}