@import "../../abstracts/variables.module";


%primal {
  background-color: $color-primary;
  color: $color-dark-s;

  &:focus {
    outline: none;
    border: 2px solid $color-primary-light;

    color: $color-dark-s;
  }

  @media (hover: hover) and (pointer: fine){
    &:hover {
      color: $color-dark-s;
      
      outline: none;
      border: 2px solid $color-primary-light;

      box-shadow:0 0 6px 4px rgba(103, 115, 128, 0.3);
    }
  }

  &:active{
    outline: none;
    border: 2px solid $color-primary-light;
    
    color: $color-light-s;

    box-shadow:0 0 16px 4px rgba(103, 115, 128, 0.651);
  }
}